version: "3.8"

services: 
  app:
    container_name: project-united_next-js
    image: vavra/project-united_next-js 
    ports: 
      - "3000:3000"
    build: 
      context: ./
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: ./
        target: /app
